<!DOCTYPE html>
<html>
  <head>
    <title>My World Clock</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="moment.js"></script>
    <script src="moment-timezone-with-data-10-year-range.js"></script>
    <link rel="stylesheet" type="text/css" href="index.css" />
    <script type="text/x-template" id="modal-template">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">

              <div class="modal-header">
                <slot name="header">
                  Settings
                </slot>
              </div>

              <div class="modal-body">
                <slot name="body">
                </slot>
              </div>

              <div class="modal-footer">
                <slot name="footer">
                  <button class="modal-default-button" @click="$emit('close')">
                    <img height="24px" src="img/ok.svg">
                  </button>
                </slot>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </script>
  </head>

  <body>
    <div id="clockContainer">
      <world-clock
        v-for="item in citylist"
        v-bind:key="item.id"
        v-bind:todo="item"
      ></world-clock>
      <div>
        <button
          id="show-modal"
          @click="showModal = true"
          class="settings_button"
        >
          <img src="img/settings.svg" />
        </button>
        <!-- use the modal component, pass in the prop -->
        <modal v-if="showModal" @close="saveSettings">
          <div slot="body">
            <p class="settingsbody">v1.0.0 Copyright (C) 2019-2020, BingX.app</p>
            <clock-items
              v-for="post in citylist"
              v-bind:key="post.id"
              v-bind:post="post"
            ></clock-items>
            <div>
              <span>
                <label class="settingsbody">Add Clock: </label>
                <select class="settingName" id="timezone">
                  <option
                    v-for="tz in tzlist"
                    :key="tz.value"
                    :value="tz.value"
                  >
                    {{ tz.name }}
                  </option>
                </select>
              </span>
              <span>
                <button class="clockbuttons" @click="addClock">
                  <img height="12px" src="img/new.svg">
                </button>
              </span>
            </div>
          </div>
          <h3 slot="header">MyClocks Settings</h3>
        </modal>
      </div>
      <div id="slidebar">
        <input
          v-model="driftrange"
          type="range"
          min="-24"
          max="24"
          value="0"
          class="slider"
          id="myRange"
          @mouseup="resetslider"
        />
      </div>
    </div>
  </body>
</html>

<script>
  // localStorage persistence
  let STORAGE_KEY = "myclock-1.0.0";

  let myclockStorage = {
    fetch: function () {
      let myclocks = JSON.parse(localStorage.getItem(STORAGE_KEY) || "[]");
      myclocks.forEach(function (myclock, index) {
        myclock.id = index;
      });
      myclockStorage.uid = myclocks.length;
      return myclocks;
    },
    save: function (myclocks) {
      localStorage.setItem(STORAGE_KEY, JSON.stringify(myclocks));
    },
  };

  // Define a clock component
  Vue.component("world-clock", {
    props: ["todo"],

    template: `
      <div class="clock">
        <p class="date">
          {{ todo.date }}
          <button class="killclock" @click="killClock(todo)">
            <img height="24px" src="img/remove.svg" />
          </button>
        </p>
        <p class="time">{{ todo.time }}</p>
        <p class="text">{{ todo.name }}</p>
        
      </div>`,

    methods: {
      killClock: function (id) {
        clock.citylist.splice(clock.citylist.indexOf(id), 1);
      },
    },
  });

  // register modal component
  Vue.component("modal", {
    template: "#modal-template",
  });

  Vue.component("clock-items", {
    props: ["post"],

    template: `
      <div>
        <span><input class="settingclock" v-model="post.name"></span>
        <span><button class="clockbuttons" @click="upClock(post)"><img height="12px" src="img/up.svg" /></button></span>
        <span><button class="clockbuttons" @click="downClock(post)"><img height="12px" src="img/down.svg" /></button></span>
      </div>`,

    methods: {
      upClock: function (id) {
        let i = clock.citylist.indexOf(id);

        if (i > 0) {
          clock.citylist.splice(i - 1, 0, clock.citylist.splice(i, 1)[0]);
          console.log(clock.citylist[i]);
        } else {
          console.log("can not move up");
        }
      },

      downClock: function (id) {
        let i = clock.citylist.indexOf(id);

        if (i == clock.citylist.length - 1) {
          console.log("can not move down");
        } else {
          clock.citylist.splice(i + 1, 0, clock.citylist.splice(i, 1)[0]);
          console.log(i);
        }
      },
    },
  });

  let clock = new Vue({
    el: "#clockContainer",

    data: {
      time: "",
      date: "",
      // newClock: "",
      showModal: false,
      citylist: myclockStorage.fetch(),
      tzlist: getTzlist(),
      driftrange: 0,
    },

    watch: {
      citylist: {
        handler: function (citylist) {
          myclockStorage.save(citylist);
        },
      },
      driftrange: {
        handler: function (driftrange) {
          if (driftrange != 0) {
            clearInterval(timerID);
            updateTime(driftrange);
          } else {
            updateTime(driftrange);
            timerID = setInterval(updateTime, 1000);
          }
        },
      },
    },

    methods: {
      addClock: function () {
        //sel = document.getElementById("timezone");
        zone = document.getElementById("timezone").value;

        n = zone.split("/");
        n = n[n.length - 1].replace("_", " ");
        cityname = n;

        console.log(zone, cityname);

        this.citylist.push({
          id: this.citylist.length + 1,
          zone: zone,
          name: cityname,
        });
        updateTime();
        clearInterval(timerID);
        timerID = setInterval(updateTime, 1000);
      },

      saveSettings: function () {
        this.showModal = false;
        myclockStorage.save(this.citylist);
      },

      resetslider: function () {
        this.driftrange = 0;
      },
    },
  });

  const week = ["SUN", "MON", "TUE", "WED", "THU", "FRI", "SAT"];

  updateTime();
  let timerID = setInterval(updateTime, 1000);

  function getTzlist() {
    let list = [];
    let tz = moment.tz.names();
    tz.forEach((item) => list.push({ value: item, name: item }));
    return list;
  }

  function updateTime(offset = 0) {
    for (i in clock.citylist) {
      zone = clock.citylist[i].zone;

      let cd = new Date();

      if (offset != 0) {
        cd.setMinutes(0);
        cd.setSeconds(0);

        cd = cd.getTime();
        cd = cd + offset * 1000 * 3600;
      }

      time = moment.tz(cd, zone).format("HH:mm:ss");
      date =
        moment.tz(cd, zone).format("YYYY-MM-DD") +
        " " +
        week[moment.tz(cd, zone).day()];

      clock.citylist[i].time = time;
      clock.citylist[i].date = date;
    }
  }
</script>
